name: Release build

on:
  push:
    tags:
      - 'v*'

jobs:
  build-docker-image:
    name: Build native docker image

    runs-on: ubuntu-latest

    permissions:
      contents: write  # ✅ This allows creating a release
      packages: write  # ✅ This allows pushing Docker images

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Fetch all history for all branches and tags (otherwise Sonar will report: "Shallow clone detected, no blame information will be provided.")

      - name: Set Up GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm-community'
          cache: 'gradle'

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Git Tag
        run: echo "GIT_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build Native Executable
        run: |  
          ./gradlew clean build -Dquarkus.package.jar.enabled=false -Dquarkus.native.enabled=true -PbuildVersion=${{ env.GIT_TAG }}
          mv build/*-runner build/app-${{ env.GIT_TAG }}-runner

      - name: Upload Binary to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/app-${{ env.GIT_TAG }}-runner
          tag_name: ${{ env.GIT_TAG }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image with Git Tag
        run: |
          docker build -f src/main/docker/Dockerfile.native-micro -t ghcr.io/${{ github.repository_owner }}/quarkus-template:${{ env.GIT_TAG }} .
          docker tag ghcr.io/${{ github.repository_owner }}/quarkus-template:${{ env.GIT_TAG }} ghcr.io/${{ github.repository_owner }}/quarkus-template:latest

      - name: Push Docker Image to Docker Hub
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/quarkus-template:${{ env.GIT_TAG }}
          docker push ghcr.io/${{ github.repository_owner }}/quarkus-template:latest